<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item nav-bar">
            <div class="logo">
                <a href="/api/car/buy">BuySell</a>
            </div>
            <div class="nav-bar-list">
                <a href="/api/car/buy">Buy</a>
                <a href="/api/car/sell">Sell</a>
                <a href="/api/car/log">Log</a>
                <a href="/api/car/logout">Log out</a>
            </div>
        </div>
        <div class="grid-item main-section">
            <div class="sell-grid">
                <h1>SELL YOUR CAR</h1>
                <form method="post" action="/api/car/sell" class="sell-form">
                    <div class="input-field">
                        <label>Owner</label>
                        <input type="text" name="owner" class="input">
                    </div>
                    <!-- vin -->
                    <div class="input-field">
                        <label>VIN</label>
                        <input type="text" name="vin" class="input">
                    </div>
                    <div class="input-field">
                        <label>Model</label>
                        <input type="text" name="model" class="input">
                    </div>
                    <div class="input-field">
                        <label>Price</label>
                        <input type="text" name="price" class="input">
                    </div>
                    <div class="input-field">
                        <label>Description</label>
                        <textarea name="description" class="textarea"></textarea>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="SELL" class="btn">
                    </div>
                </form>
            </div>
        </div>
        <div class="grid-item footer">
            <p>Second hand car trade using blockchain &copy; APK & Bhavna</p>
        </div>
    </div>
</body>
</html>