<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div class="grid-item nav-bar">
            <div class="logo">
                <a href="#">BuySell</a>
            </div>
        </div>
        <div class="grid-item main-section">
            <div class="sell-grid">
                <h1>REGISTER</h1>
                <form method="post" action="/api/car/register" class="sell-form">
                    <div class="input-field">
                        <label>Username</label>
                        <input type="text" name="username" class="input">
                    </div>
                    <div class="input-field">
                        <label>Password</label>
                        <input type="password" name="password" class="input">
                    </div>
                    <div class="input-field">
                        <p>Existing user?</p>
                        <a href="/api/car/" >Log In here</a>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Register" class="btn">
                    </div>
                </form>
            </div>
        </div>
        <div class="grid-item footer">
            <p>Second hand car trade using blockchain &copy; APK & Bhavna</p>
        </div>
    </div>
</body>
</html>